.header {
    height: 94px;
    background-image: linear-gradient(0,#1a94ff,#1a94ff);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    padding-left: 0;
}

.nav__list--item {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 0 12px;
    position: relative;
}

.nav__list--item a {
    color: var(--white-color);
    text-decoration: none;
}

.nav__list--item-separate::after {
    content: "";
    display: block;
    height: 14px;
    border-left: 1px solid rgb(220, 220, 253);
    position: absolute;
    top: 1px;
    right: 0;
}

.nav__list--icon {
    padding: 4px;
}

.nav__list--link {
    font-size: 20px;
    color: #fff;
}

.nav__list--item-id:hover {
    opacity: 0.7;
}

.header__contain--logo {
    margin-left: -10px;
}

.header__contain {
    position: relative;
    left: -28px;
}

.header__contain--logo > img {
    height: 38px;
    width: 62px;
}

.header__contain--shear {
    position: absolute;
    width: 67%;
    height: 24px;
    top: 12px;
    left: 19%;
    font-size: 15px;
}

.header__contain--ship img {
    width: 120px;
}

.header__contain--icon {
    position: absolute;
    right: 63px;
    top: 11px;
}

.header__contain--iconshop {
    font-size: 30px;
    color: var(--white-color);
}

.header__contain a {
    text-decoration: none;
}

.container .cotainer_conten {
    margin-top: 2px;
    padding-top: 20%;
    background: url('../../assets/img/Qktiki.png') top center / cover no-repeat;
}

.container_header {
    margin: 130px;
    border: 1px solid #84a7ff;
    background-color: #fff;
    padding: 28px;
}

.container_header--frames {
    margin: 16px;
    
}

.container_header--what {
    padding: 0 20px 10px 20px;
    
}

.container_header--what a {
    font-size: 30px;
    color: #15acf3f2;
    text-decoration: none;
}

.container_header--what a:hover {
    opacity: 0.8;
    text-decoration: underline;
    box-shadow: 0 0 15px #08BFBF;
}

.container_header--list {
    border: 1px solid #d987b6;
    display: inline-block;
    width: 13.7777%;
    margin: 24px 35px;
    background-color: var(--white-color);
    border-radius: 8px;
}

.container_header--list:hover {
    box-shadow: 0 0 15px #000;
    transform: scale(1.03);
    opacity: 0.8;
}

.container_header--product {

}

.container_header--product > img {
    width: 100%;
    height: 168px;
}

.container_header--description {
    background-color: var(--white-color);
}


.container_header--description a:nth-child(1) {
    font-size: 15px;
    
    line-height: 1.2;
    padding: 0 4px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    display: block;
}

.container_header--description a:nth-child(2) {
    font-size: 17px;

    color: #ee4d2d;
    float: right;
    padding: 6px 10px 12px;
    
} 

.container__about {
    background-color: #F7E3F9;
    padding: 32px 4px;
    border: 1px solid #84a7ff;
}

.container__about--popular {
    text-align: center;
}

.container__about--popular hr {
    width: 41%;
    color: turquoise;
    height: -2px;
    display: inline-block;
}


.container__about--popular a {
    color: #075f5f;
    text-decoration: none;
    font-size: 34px;
    font-weight: 520;

}

.container__about--popular a:hover {
    box-shadow: 0 0 15px #66fcf1;
    opacity: 0.7;
}

.container__list--popular {
    padding: 6px 0px;
    
}

.container__list--popular::after {
    clear: both;
    content: "";
    display: block;
}

.container__list--popular-main {
    background-color: var(--white-color);
    margin: 24px 63px;
    width: 16.33333%;
    float: left;
}

.container__list--popular-img {
    width: 100%;
    border: 1px solid #d987b6;
}

.container__list--popular-img:hover {
    box-shadow: 0 0 15px #000;
    transform: scale(1.03);
    opacity: 0.8;
}

.container__list--popular-frames {
    padding: 16px 8px;
}

.container__list--popular-frames a {
    font-size: 28px;
    color: #000;
    text-decoration: none;
    padding: 16px 0;
    font-weight: 450;
}

.container__list--popular-introduce p {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
    display: block;
    padding: 0 8px;
}

.container__list--popular-introduce button {
    margin: 24px 24px 8px 108px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    padding: 8px 36px;
    border-radius: 2px;
    float: center;
    display: block;
}

.container__list--popular-introduce button:hover {
    background-color: #fd2b01;
    cursor: pointer;
}
.container__list--popular-extra {
    background-color: #E6FEC7;
    height: 215px;
    margin-bottom: 130px;
    border: 1px solid #84a7ff;
}

.extra-title {
    display: inline-block;
    width: 41%;
    font-size: 31px;
    text-align: center;
}

.extra-title a {
    text-decoration: none;
    color: #08BFBF;
    position: relative;
    bottom: 94px;
}

.extra-title a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.extra__img--main {

}

.extra-img {
    width: 12%;
    display: inline-block;
    margin-right: 36px;
}

.extra-img img {
    width: 100%;
    border: 1px solid#ccc;
    border: 1px solid #d987b6;
}

.extra-img img:hover {
    box-shadow: 0 0 15px #000;
    transform: scale(1.01);
    opacity: 0.8;
}

.img2 {
    position: relative;
    top: 37px;
}

.container__option {
    padding: 0 100px;
    margin-bottom: 100px;
}

.option__tille {
    font-size: 30px;
    padding: 14px 20px;
}

.option__tille a {
    color: #08BFBF;
    text-decoration: none;
}

.option__tille a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.option__product {
    width: 10%;
    display: inline-block;
    margin: 14px;
    border: 1px solid#ddd;
    background-color: #fff;
    border-radius: 8px;
}

.option__product:hover {
    transform: translateY(-24px);
    box-shadow: 0 1px 15px #66fcf1;
    opacity: 0.9;
}

.option__product--link {
    text-decoration: none;

}

.option__product--link img {
    width: 100%;
}

.option__product--description {
}

.option__product--description h3 {
    font-size: 11px;
    line-height: 1.2;
    padding: 0 4px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0;
}

.option__product--description p {
    font-size: 14px;
    color: #ee4d2d;
    float: right;
    padding-right: 10px;
    margin: 4px 0;
}

.footer {
    background-color: #1AC8FF;
    color: #fff;
}

.footer_main {
    display: flex;
    margin: 24px 120px;
    justify-content: space-between;
}

.footer_contact p,h3 {
    color: #fff;
    font-size: 16px;
}

.footer_contact a {
    text-decoration: none;
}

.footer_contact p:hover{
    text-decoration: underline;
    opacity: 0.8;
}


.footer_social {
    text-align: center;
}

.footer_social--flex {
    display: flex;
}

.footer_social--icon a{
    text-decoration: none;
}

.footer_social--icon {
    font-size: 24px;
}

.footer_social--icon:hover {
    transform: translateY(-8px);
    opacity: 0.7;
}

.footer_social--icon a {
    color: #000;
    margin: 0 12px;
}

.footer_social--link:hover {
    
}

.container__product {
    margin: 148px 138px 122px 138px;
    padding: 16px ;
    display: flex;
    border: 1px solid#ccc;
}

.container__product--img {
    width: 34%;
}

.container__product--img img {
    width: 100%;
}

.container__product--img img:hover {
    box-shadow: 0 0 15px #000;
    transform: scale(1.03);
}

.container__product--painted {
    width: 60%;
    margin-left: 90px;

}

.container__product--painted h1 {
    font-size: 22px;
    line-height: 1.2;
}

.container__product--price {
    color: #ee4d2d;
    font-size: 28px;
    font-weight: 550;
    padding-left: 120px;
    position: relative;
    top: 188px;
}

.container__product--painted button {
    font-size: 24px;
    border-radius: 32px;
    padding: 8px 42px;
    margin: 16px;

}

.container__product--add {
    background-color: rgba(255, 87, 34, 0.1);
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    position: relative;
    top: 204px;
}

.container__product--add:hover {
    opacity: 0.8;
    cursor: pointer;

}

.container__product--buy {
    color: #fff;
    background-color: #fd2b01;
    border: 1px solid #fd2b01;
    position: relative;
    top: 204px;
}

.container__product--buy:hover {
    opacity: 0.8;
    cursor: pointer;
}


.product--details {
    margin: 0 138px;
    padding: 20px 32px;
    border: 1px solid#000;
}

.product--details pre {
    font-size: 18px;
    line-height: 1.4;
}

.product--offen {
    margin: 80px 136px 122px 136px;
    padding: 24px ;
    border: 1px solid#ccc;
    background-color: #f3fce8;
}

.product__popular--lish,
.product--offen-lish {
    display: flex;
}

.product__popular {
    margin: 170px 150px 122px 150px;
    padding: 8px 20px ;
    border: 1px solid#ccc;
}

.product__popular h1 {
    font-size: 26px;
    color: #075f5f;
}

.product__popular a {
    text-align: center;
    color: #000;
    font-size: 22px;
}

.product__popular a:hover {
    color: #ee4d2d;
}

.register {
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none; */
}

.register__table {
    width: 64%;
    margin: 192px auto;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #000;
}

.register__table-padding {
    padding: 24px 10px;
}

.modal__body--main {
    margin: 12px 42px;
}

.modal-btn__little {

}

.modal__body--btn {
    padding: 10px;
}

.btn {
    font-size: 30px;
    display: inline-block;
    position: relative;
    left: 347px;
    font-weight: 800;
    margin: 16px;
}

.btn__little {
    font-size: 22px;
    color: #1a94ff;
    margin: -5px 0;
    float: right;
    font-weight: 600;
}

.btn__little:hover {
    opacity: 0.6;
}

.auth__form {
    font-size: 16px;
}

.modal__adress {
    margin-bottom: 8px;   
    padding: 0 80px;
}

.modal__adress--Pw {
    width: 100%;
    padding: 8px;
    margin: 8px;
    font-size: 15px;
    border-radius: 24px;
}

.modal__about {
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
}

.modal__about-dk {
    margin: 0;
}

.modal__about-link {
    color: #1a94ff;
    justify-content: center;
    text-decoration: none;
}

.modal__but {
    font-size: 21px;
    padding: 16px 32px;
    display: flex;
    justify-content: flex-end;
}

.modal__but > .style:hover {
    opacity: 0.6;
    cursor: pointer;
}

.style {
    border:none;
    padding: 8px;
    width: 118px;
    margin-right: 16px;
    color: #fff;
    font-weight: 500;
    background-color: #000;
    border-radius: 4px;
}

.modal__footer {
    display: flex;
    background-color: #1a94ff;
}

.modal__footer--icon {
    font-size: 18px;
    display: block;
    margin: 18px;
    width: 100%;
    font-weight: 500;
}

.modal__icon {
    padding-right: 6px;
    font-size: 22px;
}

.modal__fb--icon {
    background-color: #fff;
    text-align: center;
    color: var(--while-color);
    padding: 6px;
    margin-left: 20px;
    border-radius: 32px;
}

.modal__gg--icon {
    background-color: #fff;
    text-align: center;
    color: rgb(53, 43, 43);
    padding: 6px;
    border-radius: 32px;

}

.modal__ita--icon {
    background-color: #fff;
    text-align: center;
    color: rgb(53, 43, 43);
    padding: 6px;
    margin-right: 20px;
    border-radius: 32px;

}

.modal__footer--icon:hover {
    cursor: pointer;
    opacity: 0.7;
}
